
@{
    ViewBag.Title = "ASNIndex";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>BRP 856 Ship Notice / Manifest</h2>

<h3>Shipment Information</h3>
<div>
    <ul>
        <li><label>Shipment #:</label> 
            <input id="txtShipmentNbr" type="text" />
        </li>
        <li><label>Shipment Date:</label>
            <input id="txtShipmentDate" type="text" />
        </li>
        <li>
            <label>Material Release #:</label>
            <input id="txtShipmentNbr" type="text" />
        </li>
    </ul>
</div>



